di-xsd-validation/src/main/mule/di-xsd-validation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<xml-module:config name="XML_Config" doc:name="XML Config" doc:id="1f66bea4-60de-4bba-a161-82386b407048" expandEntities="ALL"/>
	<flow name="di-xsd-validationFlow" doc:id="a4c63eb1-4924-4f7a-adc2-81d207b30f83" >
		<scheduler doc:name="Scheduler" doc:id="7603f340-b7b3-4d7f-b708-434f0f4495f9" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="set organisation payload" doc:id="3128196a-21c7-493e-9fad-6a61ca122a76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---

{
  "addressBillingPostalCode": "V7M 5F4",
  "systemId": 99001,
  "addressBillingState": "BC",
  "contactNameGiven": null,
  "addressState": "BC",
  "addressCountry": "CA",
  "contactNamePrefix": null,
  "contactLanguage": "ENGLISH",
  "type": "COMMUNITY",
  "nameShort": "INTVIMC",
  "addressMailingState": "BC",
  "addressPostalCode": "V7M 5F4",
  "addressBillingLine2": "",
  "addressBillingLine1": "166 Shelbourne",
  "addressBillingLine3": "",
  "contactPhoneHome": null,
  "contactPhoneMobile": null,
  "active": 1,
  "addressMailingLine1": "166 Shelbourne",
  "authorizer": 99001,
  "addressMailingLine2": "",
  "addressMailingPostalCode": "V7M 5F4",
  "contactPhoneWork": "5556750987",

  "addressMailingLine3": "",
  "contactRole": null,
  "managingOrganization": 0,
  "addressMailingCountry": "CA",
  "addressCity": "Victoria",
  "addressBillingCity": "Victoria",
  "contactEmailHome": null,
  "contactNameFamily": null,
  "contactTitle": null,
  "name": "INTVan Isle Medical Clinic",
  "addressLine3": "",
  "addressBillingCountry": "CA",
  "addressLine2": "",
  "lastUpdated": "2019-08-26T10:41:45.377",
  "addressLine1": "166 Shelbourne",
  "category": "CLINIC",
  "contactNameSuffix": null,
  "status": "ACTIVE",
  "addressMailingCity": "Victoria",
  "contactEmailWork": null
} filterObject ((value, key) -> value !="")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="format according tp FHIR" doc:id="cae200a9-09ce-4da0-a621-fea6093f7e64" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml 
//ns organization urn:schemas-microsoft-com:sql:SqlRowSet1
---
{
	organization @(xmlns:"urn:schemas-microsoft-com:sql:SqlRowSet1") : {
       identifier: payload.identifier,
		authorizer: payload.identifierAuthority,
		active: payload.active,
		status: payload.status,
		"type": payload."type",
		category: payload.category,
		name: payload.name,
		nameShort: payload.nameShort,
		managingOrganization: payload.managingOrganization,
		addressLine1: payload.addressLine1,
		addressLine2: payload.addressLine2,
		addressLine3: payload.addressLine3,
		addressCity: payload.addresscity,
		addressState: payload.addressState,
		addressPostalCode: payload.addressPostalCode,
		addressCountry: payload.addressCountry,
		addressMailingLine1: payload.addressMailingLine1,
		addressMailingLine2: payload.addressMailingLine2,
		addressMailingLine3: payload.addressMailingLine3,
		addressMailingCity: payload.addressMailingCity,
		addressMailingState: payload.addressMailingState,
		addressMailingPostalCode: payload.addressMailingPostalCode,
		addressMailingCountry: payload.addressMailingCountry,
		addressBillingLine1: payload.addressBillingLine1,
		addressBillingLine2: payload.addressBillingLine2,
		addressBillingLine3: payload.addressBillingLine3,
		addressBillingCity: payload.addressBillingCity,
		addressBillingState: payload.addressBillingState,
		addressBillingPostalCode: payload.addressBillingPostalCode,
		addressBillingCountry: payload.addressBillingCountry,
		contactNameSuffix: payload.contactNameSuffix,
		contactNameFamily: payload.contactNameFamily,
		contactNameGiven: payload.contactNameGiven,
		contactNamePrefix: payload.contactNamePrefix,
		contactTitle: payload.contactTitle,
		contactRole: payload.contactRole,
		contactPhoneHome: payload.contactPhoneHome,
		contactPhoneMobile: payload.contactPhoneMobile,
		contactPhoneWork: payload.contactPhoneWork,
		contactEmailHome: payload.contactEmailHome,
		contactEmailWork: payload.contactEmailWork,
		contactLanguage: payload.contactLanguage,
		systemId: payload.systemId,
		lastUpdated: payload.lastUpdated as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS"} default "" 
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<xml-module:validate-schema doc:name="Validate schema" doc:id="22c3c9be-79bb-431b-856a-445fa4263216" config-ref="XML_Config" schemas="organization.xsd"/>
		<ee:transform doc:name="Transform Message" doc:id="83effc31-9fc0-4291-a655-6925337b334b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
